
    .step1-box{
        border: 0px;
    }

    label {
      display: block;
      color: white;
      margin-bottom: 5px;
    }
  
    input {
      width: 100% !important;
      padding: 12px 16px;
      border-radius: 8px;
      font-family: inherit;
      background-color: transparent;
      border: 1px solid #414141;
      &::placeholder {
        opacity: 0.5;
      }
      &:focus {
        outline: none;
        border-color: #e81cff;
      }
    }
  
    button {
      display: flex;
      justify-content: center;
      font-family: inherit;
      color: #CBCBCB;
      font-weight: 600;
      width: 50%;
      margin-top: 20px !important;
      background: #313131;
      border: solid #BB27FF 1px;
      padding: 12px 16px;
      font-size: inherit;
      cursor: pointer;
      border-radius: 6px;
      transition: 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 50%;
      color: #CBCBCB;
      text-decoration: none;
      margin: 0 auto;
    }
  
    a {
      text-align: center;
      width: 100%;
      margin-top: -8px;
      color: #CBCBCB;
      padding: 0px 0px 10px;
      text-decoration: none;
    }
    
    .group {
      text-align: start;
      font-size: 10pt;
      font-weight: 600;
    }
  
    .form-required {
      height: 10px;
      color: red;
    }
  
    .alert {
      border-radius: 6px;
      opacity: 84%;
      margin-top: -40px;
      transition: 1s;
    }
